# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules

src/.classpath
src/.project
/RUNNING_PID
/.settings
src/.gitignore
src/.settings/org.scala-ide.sdt.core.prefs
.idea