@(title: String, page: String, url: String, courseList: List[models.JSONParser.Course])
@header(title,page,url)

<div class="container">
	<table class="table table-bordered">
		<thead>
			<th></th>
			<th>Course</th>
			<th>Course Instructor</th>
			<th>Course Time</th>
			<th>Course Room</th>
		</thead>
		<tbody>
			@for(course <- courseList){
			
			
			<tr>
					<td><input type="checkbox"></td>
					<td>@{course.getDisplayName() + "-" + course.getSectionNo()}</td>
					<td>@for(instructor <- course.getInstructor()){ @{instructor.getName()} @{instructor.getSurname()} }</td>
					<td> @for(lecture <- course.getLectures()){ @{lecture.getDay()} @{lecture.getStartHour()}:@{lecture.getStartMinute()} @{lecture.getFinishHour()}:@{lecture.getFinishMinute()},  } </td>
					<td>CK:EF:231</td>
				</tr>
			
}
		</tbody>
	</table>
</div>

@footer()