@(title: String, page: String, url: String, courseSectionPossibilites: ArrayList[ArrayList[controllers.CourseSection]], isLoggedIn: Boolean)
@header(title,page,url,isLoggedIn)

<div class="container">
@helper.form(action = routes.Application.scheduler()) {
	<div class="col-md-9 scrollit">
		
		<table class="table table-bordered">
			<thead>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
			</thead>
			<tbody>
				
				@for(courseSections <- courseSectionPossibilites){
				
					@for(section <- courseSections){
					<tr>
						<td>@for(meetingtime <- section.getMeetingTimes()){
							@if(meetingtime.dayIndex==0){
								@section.getSectionTitle()
							}
						
						
						}</td>
						<td>@for(meetingtime <- section.getMeetingTimes()){
							@if(meetingtime.dayIndex==1){
								@section.getSectionTitle()
							}
						
						
						}</td>
						<td>@for(meetingtime <- section.getMeetingTimes()){
							@if(meetingtime.dayIndex==2){
								@section.getSectionTitle()
							}
						
						
						}</td>
						<td>@for(meetingtime <- section.getMeetingTimes()){
							@if(meetingtime.dayIndex==3){
								@section.getSectionTitle()
							}
						
						
						}</td>
						<td>@for(meetingtime <- section.getMeetingTimes()){
							@if(meetingtime.dayIndex==4){
								@section.getSectionTitle()
							}
						
						
						}</td>
					</tr>
					}
					
				}
				 
			</tbody>
		</table>
		
	</div>
	}
</div>

@footer()