@(title: String, page: String, url: String, courseList: List[models.JSONParser.Course])
@header(title,page,url)

<div class="container">
@helper.form(action = routes.Application.scheduler()) {
	<div class="col-md-9 scrollit">
		
		<table class="table table-bordered">
			<thead>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
			</thead>
			<tbody>
				
				@for(course <- courseList){
				
				<tr>
						<td></td>
						<td>@{course.getDisplayName() + "-" + course.getSectionNo()}</td>
						<td>@for(instructor <- course.getInstructor()){ @{instructor.getName()} @{instructor.getSurname()} }</td>
						<td>@for(lecture <- course.getLectures()){ @{lecture.getDay()} @{lecture.getStartHour()}:@{lecture.getStartMinute()} @{lecture.getFinishHour()}:@{lecture.getFinishMinute()}, <br>  } </td>
						<td>@for(lecture <- course.getLectures()){@lecture.getRoomCode() <br>}</td>
					</tr>
				
					}
				 
			</tbody>
		</table>
		
	</div>
	}
</div>

@footer()