@(title: String, page: String, url: String, courseSectionPossibilites: ArrayList[ArrayList[controllers.CourseSection]], isLoggedIn: Boolean)
@header(title,page,url,isLoggedIn)

<div class="container">
@helper.form(action = routes.Application.scheduler()) {
	<div class="col-md-9 scrollit">
		
		<table class="table table-bordered">
			<thead>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
			</thead>
			<tbody>
				
				@for(courseSections <- courseSectionPossibilites){
				<tr>
					<td></td>
					<td></td>
				</tr>
					@for(section <- courseSections){
					<tr>
						<td></td>
						<td>@{section.getSectionTitle()}</td>
					</tr>
					}
				}
				 
			</tbody>
		</table>
		
	</div>
	}
</div>

@footer()